// -------
// Tabs
// -------

// Mixin: Tabs
// 
// Params:  side='top', height=auto, navSize=auto, fade=0.3s, active="active"
//   side: options are 'top', 'right', 'bottom', 'left'
//   height: height of parent element
//   navSize: width(left/right) or height(top/bottom) of tab navigation
//   fade: transition speed on opacity
//   active: class added to active tab content to show it.


-tabNav(side, navSize)
  flex 0 0 navSize
  if side is 'left' or side is 'right'
    overflow-y auto
    & > *
      display block
  else
    & > *
      float left
  & > *
    cursor pointer


-tabBody(fade, height, active)
  flex 1 1 auto
  position relative
  & > *
    position absolute
    box-sizing border-box
    top 0
    left 0
    width 100%
    unless height is auto
      height 100%
      overflow-y auto
    pointer-events none
    opacity 0
    if fade
      transition opacity fade ease
    &.{active}
      if height is auto
        position relative
      pointer-events auto
      opacity 1

tabs(side='top', height=auto, navSize=auto, fade=0.3s, active="active")
  height height
  display flex
  flex-wrap nowrap
  if side is 'top'
    flex-direction column
  if side is 'bottom'
    flex-direction column-reverse
  if side is 'left'
    flex-direction row
  if side is 'right'
    flex-direction row-reverse

  & > ul
    margin 0
    padding 0

  & > *:first-child
    -tabNav(side, navSize)
  & > *:last-child
    -tabBody(fade, height, active)