// -------
// Toggle
// -------

// Mixin: Toggle
// 
// Create an on/off toggle switch.
// Params:
//   width: width
//   height: height
//   switch:  (background-color [text-color]) // colors for the moving part of the toggle
//   switchOn:  (background-color [text-color]) // optional alternate colors for the switch in on position
//   off: (background-color [text-color]) // colors and content for the 'off' part of the toggle
//   on:  (background-color [text-color]) // colors and content for the 'on' part of the toggle
//   text: OFF/ON text
//   sideWidth:  width of the on/off parts, if 0, set to width/2.5
//   shadow: 0  // set shadow to 0 to disable inset shadow for on/off parts
// 
// ex. toggle()
// ex. toggle(switch: (red), switchOn: (green))
// ex. toggle(sideWidth: 4em, shadow: 0)
// ex. toggle(switch: (#7c00be), text:('NO' 'YES')

toggle(width = 8em, height = 2.5em, switch = (#b2b3a1 #000), switchOn = 0, off = (#bb9297 #000), on = (#29c910 #000), text = ('OFF' 'ON'), sideWidth = 0, shadow = 1)
  display inline-block
  overflow hidden
  width width
  height height
  sideWidth = sideWidth or (width / 2.5)
  switchOn = switchOn or switch
  
  input[type="checkbox"]
    display none
    & + label
      outline none
      cursor pointer
      position relative
      display block
      width 'calc(100% - %s)' % sideWidth
      background-color switch[0]
      height 100%
      left sideWidth
      z-index 0 unless @z-index
      & > span
        &, &::before, &::after
          display inline-block
          transition all 0.3s ease, color 0.2s ease
        position absolute
        top 50%
        transform translateY(-50%)
        color switch[1]
        text-align center
        width calc(100% - 2em)
        padding 0 1em
        z-index (@z-index + 1)
        &::before, &::after
          position absolute
          top 50%
          transform translateY(-50%)
        &::before
          content text[0]
          width sideWidth
          left - sideWidth
          color off[1]
        &::after
          content text[1]
          width 0
          right 0
          color transparent
      &, &::before, &::after
        transition all 0.3s ease
      &::before, &::after
        content ''
        position absolute
        display block
        height 100%
      &::before
        background-color off[0]
        width sideWidth
        left - sideWidth
        if shadow
          box-shadow inset 1px 1px 1px darken(off[0], 18%), inset -1px -1px 1px darken(off[0], 18%)
      &::after
        background-color on[0]
        width 0
        right 0
        if shadow
          box-shadow inset 1px 1px 1px darken(on[0], 18%), inset -1px -1px 1px darken(on[0], 18%)
    &:checked + label
        left 0
        background-color switchOn[0]
        &::before
          width 0
          left 0
        &::after
          width sideWidth
          right - sideWidth
        & > span
          color switchOn[1]
          &::before
            width 0
            left 0
            color transparent
          &::after
            width sideWidth
            right - sideWidth
            color on[1]